/* Import the Lekton font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');

/* Apply Lekton font to the entire body and set the background and text colors */
body {
  font-family: Lekton;
  background-color: rgb(196, 185, 173);
  color: aliceblue;
}

/* Set the container to position absolute and cover the entire screen */
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Set the weather information to position absolute, centered on the screen */
.weather-information {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Set the background color and padding for the main information section */
.main-info {
  background-color: rgba(71, 79, 75, 0.5);
  padding: 1px 15px;
}

/* Set the search container to flex, center its contents, and style its input and submit button */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input,
.search .submit-button {
  font-family: Lekton;
  border-radius: 10px;
  background-color: #f5f5f5;
  opacity: 0.9;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

.search input {
  margin-right: 10px;
  width: 200px;
}

.search .submit-button {
  width: 70px;
  color: black;
}

/* Set the style for the forecast container and forecast items */
.forecast-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(71, 79, 75, 0.5);
}

.forecast {
  padding: 20px;
}